@use 'variables' as *;

body {
  background: $color-light;
  font-family: $font-main;
}
//burger menu icon
.material-symbols-outlined {
  font-size: $fs-lg;
  color: #111;
  line-height: 1;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
