@use '../base/variables' as *;
@use '../base/mixins' as *;

.about {
  padding-block: $space-6;

  &__grid {
    display: flex;
    flex-direction: column;
    gap: $space-5;
  }

  &__image {
    display: flex;
    justify-content: center;
    opacity: 0;
    transform: translateY(100px);
    transition:
      opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1),
      transform 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);

    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-block: $space-6;

    opacity: 0;
    transform: translateY(70px);
    transition:
      opacity 1.2s cubic-bezier(0.25, 0.1, 0.25, 1),
      transform 1.2s cubic-bezier(0.25, 0.1, 0.25, 1);
    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &__title {
    color: $color-dark;
    font-family: $font-heading;
    font-size: $fs-lg;
    margin-bottom: $space-6;
  }
  &__text {
    color: $color-muted;
    font-family: $font-text;
    font-size: $fs-sm;
    margin-bottom: $space-4;
    line-height: 1.6;

    &--italic {
      font-style: italic;
    }
  }
  &__contact {
    margin-top: $space-4;
    display: flex;
    justify-content: center;
  }
  @include tablet {
    padding-block: $space-7;
    &__title {
      font-size: $fs-lg;
      margin-bottom: $space-5;
    }
    &__text {
      font-size: $fs-base;
      max-width: 650px;
      margin-inline: auto;
    }
  }
  @include desktop {
    &__grid {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      gap: $space-6;
    }
    &__image {
      width: 45%;
      justify-content: flex-start;
    }

    &__content {
      width: 50%;
      text-align: left;
      padding-block: 0;
    }

    &__text {
      margin-inline: 0;
    }

    &__contact {
      justify-content: flex-start;
    }
  }
  @media (orientation: landscape) and (max-height: 500px) {
    padding-block: $space-4;

    &__grid {
      flex-direction: row;
      align-items: center;
      gap: $space-4;
    }

    &__image {
      width: 35%;
      transform: translateY(40px);
      &--visible {
        transform: translateY(0);
      }
    }

    &__content {
      width: 65%;
      text-align: left;
      transform: translateY(30px);
      padding-block: 0;
      &--visible {
        transform: translateY(0);
      }
    }

    &__title {
      font-size: $fs-md;
      margin-bottom: $space-2;
    }

    &__text {
      font-size: $fs-sm;
      margin-bottom: $space-2;
    }

    &__contact {
      margin-top: $space-2;
      justify-content: flex-start;
    }
  }
}
