@use '../base/variables' as *;
@use '../base/mixins' as *;

.hero {
  height: 100dvh;
  position: relative;
  overflow: hidden;

  &__images {
    display: flex;
    height: 100%;
    width: 100%;
  }
  &__image {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

    &--second {
      display: none;
    }
  }

  &__content {
    @include flex-column-center;
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.282);
    padding-inline: $space-4;
    z-index: 2;
  }
  &__title {
    font-family: $font-heading;
    color: $color-light;
    margin-bottom: $space-3;
    font-size: clamp(1.8rem, 5vw, 3.5rem);
    line-height: 1.2;
  }

  &__text {
    font-family: $font-heading;
    color: $color-light;
    font-size: clamp(1rem, 2vw, 1.25rem);
    font-style: italic;
  }

  @include tablet {
    &__title {
      margin-bottom: $space-4;
    }
  }
  @include desktop {
    &__image {
      width: 50%;
      &--second {
        display: block;
      }
    }
    &__content {
      background-color: rgba(0, 0, 0, 0.35);
    }
  }

  @media (orientation: landscape) and (max-height: 500px) {
    &__content {
      padding-inline: $space-5;
      justify-content: center;
    }

    &__title {
      font-size: $fs-md;
      margin-bottom: $space-2;
      letter-spacing: 2px;
    }

    &__text {
      font-size: $fs-sm;
    }
  }
}
