@use '../base/variables' as *;
@use '../base/mixins' as *;

.maternity-page {
  padding-block: $space-6;
  &__content {
    @include flex-column-center;
    @include fade-in-up;
    transition-delay: 0.1s;
    text-align: center;
    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
  }
  &__title {
    font-size: $fs-lgx;
    color: $color-dark;
    font-family: $font-heading;
    margin-bottom: $space-3;
  }
  &__subtitle {
    font-size: $fs-xs;
    color: $color-dark;
    letter-spacing: 1px;
    font-family: $font-text;
    font-weight: lighter;
    margin-bottom: $space-3;
  }
  &__description {
    font-family: $font-text;
    font-size: $fs-sm;
    color: $color-grey;
    line-height: 1.6;
    text-align: center;
    margin-bottom: $space-4;
  }
  &__text {
    color: $color-muted;
    font-family: $font-text;
    font-size: $fs-sm;
    margin-bottom: $space-4;
    line-height: 1.6;

    &--italic {
      font-style: italic;
    }
  }
  &__showcase {
    display: grid;
    grid-template-columns: 1fr;
    gap: $space-3;
    @include fade-in-up;
    transition-delay: 0.3s;
    &--visible {
      opacity: 1;
      transform: translateY(0);
    }
    img {
      width: 100%;
      aspect-ratio: 4/5;
      object-fit: cover;
      display: block;
    }
  }
  @include tablet {
    .maternity-page {
      &__content {
        max-width: 700px;
        margin-inline: auto;
      }

      &__description {
        font-size: $fs-base;
      }

      &__showcase {
        grid-template-columns: repeat(2, 1fr);
        gap: $space-4;
      }
    }
  }
  @include desktop {
    .maternity-page {
      padding-block: $space-7;

      &__content {
        max-width: 800px;
      }

      &__title {
        font-size: $fs-xl;
      }

      &__description {
        font-size: $fs-base;
        line-height: 1.7;
      }

      &__showcase {
        grid-template-columns: repeat(2, 1fr);
        gap: $space-5;
        align-items: center;
      }
    }
  }
  @media (orientation: landscape) and (max-height: 500px) {
    .maternity-page {
      padding-block: $space-4;

      &__content {
        transform: translateY(25px);

        &--visible {
          transform: translateY(0);
        }
      }

      &__description {
        margin-bottom: $space-4;
        font-size: $fs-sm;
      }

      &__showcase {
        grid-template-columns: repeat(2, 1fr);
        gap: $space-3;
        align-items: center;
      }

      &__title {
        font-size: $fs-lg;
      }
    }
  }
}
