@use '../base/variables' as *;
@use '../base/mixins' as *;

.nav {
  position: fixed;
  top: 0;
  right: 0;
  height: 100dvh;
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  background: $color-light;
  opacity: 0;
  pointer-events: none;
  z-index: 100;
  transition:
    transform 0.3s ease-in-out,
    opacity 0.3s ease-in-out;
  transform: translateX(100%);
  padding-top: 10px;
  @include tablet {
    width: 40%;
  }
  &__close-btn {
    background: none;
    border: none;
    padding: 5px;
    margin: 0;
    color: inherit;
    cursor: pointer;
    margin-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 0.7;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: $space-2;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
  }

  &__link {
    position: relative;
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    color: $color-dark;
    letter-spacing: $space-1;
    font-size: $fs-base;
    padding: 1em 1.5em;
    font-family: $font-heading;
    word-break: break-word;
    font-weight: bold;

    &::after {
      content: '';
      position: absolute;
      left: 1.5em;
      right: 1.5em;
      bottom: -4px;
      height: 1px;
      background: $color-dark;
    }
    &--no-underline::after {
      display: none;
    }
  }
  &--open {
    opacity: 1;
    pointer-events: auto;
    transform: translateX(0);
  }
}

.nav-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0, 0.4);
  z-index: 30;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 0.4s ease;
  &--active {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
  }
}
