@use 'variables' as *;

body {
  background: $color-light;
  font-family: $font-main;
  scroll-behavior: smooth;
}
//burger menu icon
.material-symbols-outlined {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  font-style: normal;
  font-size: $fs-lg;
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-smoothing: antialiased; /* Wygładzanie czcionek na Safari/Mac */
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
